.post {
    display: grid;
    grid-template-columns: 
    [full-start] minmax(1rem, 1fr)  // 1rem matches Basscss p2 padding on breadcrumbs for example
    [title-start main-start] minmax(auto, 60ch) [main-end] // Readability: 50-60 characters per line
      minmax(1rem, 1fr) [full-end title-end]; 
        > p,
        > a,
        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6,
        > li,
        > ul,
        > ol,
        > pre,
        > code,
        > hr,
        > div,
        > header,
        > main,
        > footer,
        > section,
        > figure,
        > svg,
        > amp-img,
        > amp-accordion,
        > amp-carousel,
        > amp-selector,
        // > amp-3d-gltf,
        // > amp-3q-player,
        // > amp-access-laterpay,
        // > amp-access-poool,
        // > amp-access-scroll,
        // > amp-access,
        // > amp-accordion,
        // > amp-action-macro,
        // > amp-ad-exit,
        // > amp-ad,
        // > amp-addthis,
        // > amp-analytics,
        // > amp-anim,
        // > amp-animation,
        // > amp-apester-media,
        // > amp-app-banner,
        // > amp-audio,
        // > amp-auto-ads,
        // > amp-autocomplete,
        // > amp-base-carousel,
        // > amp-beopinion,
        // > amp-bind,
        // > amp-bodymovin-animation,
        // > amp-brid-player,
        // > amp-brightcove,
        // > amp-byside-content,
        // > amp-call-tracking,
        // > amp-carousel,
        // > amp-connatix-player,
        // > amp-consent,
        // > amp-dailymotion,
        // > amp-date-countdown,
        // > amp-date-display,
        // > amp-date-picker,
        // > amp-delight-player,
        // > amp-dynamic-css-classes,
        // > amp-embedly-card,
        // > amp-experiment,
        // > amp-facebook-comments,
        // > amp-facebook-like,
        // > amp-facebook-page,
        // > amp-facebook,
        // > amp-fit-text,
        // > amp-font,
        // > amp-form,
        // > amp-fx-collection,
        // > amp-fx-flying-carpet,
        // > amp-geo,
        // > amp-gfycat,
        // > amp-gist,
        // > amp-google-document-embed,
        // > amp-hulu,
        // > amp-iframe,
        // > amp-ima-video,
        // > amp-image-lightbox,
        // > amp-image-slider,
        // > amp-img,
        // > amp-imgur,
        // > amp-inline-gallery,
        // > amp-inputmask,
        // > amp-instagram,
        // > amp-install-serviceworker,
        // > amp-izlesene,
        // > amp-jwplayer,
        // > amp-kaltura-player,
        // > amp-layout,
        // > amp-lightbox-gallery,
        // > amp-lightbox,
        // > amp-link-rewriter,
        // > amp-list,
        // > amp-live-list,
        // > amp-mathml,
        // > amp-mega-menu,
        // > amp-megaphone,
        // > amp-minute-media-player,
        // > amp-mowplayer,
        // > amp-mustache,
        // > amp-nested-menu,
        // > amp-next-page,
        // > amp-nexxtv-player,
        // > amp-o2-player,
        // > amp-ooyala-player,
        // > amp-orientation-observer,
        // > amp-pan-zoom,
        // > amp-pinterest,
        // > amp-pixel,
        // > amp-playbuzz,
        // > amp-position-observer,
        // > amp-powr-player,
        // > amp-reach-player,
        // > amp-recaptcha-input,
        // > amp-redbull-player,
        // > amp-reddit,
        // > amp-riddle-quiz,
        // > amp-script,
        // > amp-selector,
        // > amp-sidebar,
        // > amp-skimlinks,
        // > amp-smartlinks,
        // > amp-social-share,
        // > amp-soundcloud,
        // > amp-springboard-player,
        // > amp-sticky-ad,
        // > amp-subscriptions-google,
        // > amp-subscriptions,
        // > amp-timeago,
        // > amp-truncate-text,
        // > amp-twitter,
        // > amp-user-notification,
        // > amp-video-docking,
        // > amp-video-iframe,
        // > amp-video,
        > amp-vimeo,
        // > amp-vine,
        // > amp-viqeo-player,
        // > amp-vk,
        // > amp-web-push,
        // > amp-wistia-player,
        // > amp-yotpo,
        > amp-youtube,
        > blockquote,
        > table {
            grid-column: main;
        }
        // > div.grid-title {
        //     grid-column: title;
        // }
      figure {
        grid-column: full;
      }
      h1.title {
        grid-column: main; // 1 / 4;
        width: 100%;
        max-width: 60ch; // Match SEO recommendations https://moz.com/learn/seo/title-tag
        justify-self: center;
      }
      div.highlight {
          // give Hugo highlight code blocks a bit more space
        grid-column: full;
        width: 100%;
        max-width: 100ch;
        justify-self: center;
      }
      img {
        grid-column: full;
        width: 100%;
        max-width: 100ch;
        justify-self: center;
      }
  }

    // graf = een content snippet, bijv. een titel, figure of p
    // h1
    article h1, .postArticle--full .graf--title.graf--leading {
        padding-top: 16px;
        // padding-top: 16px!important;
    }
    // 1e p medium.com
    .postArticle-content .graf--p {
        margin-top: 38px;
    }
    // 2e p medium.com
    .graf--p.graf-after--blockquote, .postArticle-content .graf--p.graf-after--p, .postList+.graf--p {
        margin-top: 29px;
    }
    // figure
    @media (max-width: 839px) {
        figure .graf--figure.graf-after--h4, .graf--mixtapeEmbed.graf-after--h4, .graf--pre.graf-after--h4 {
            margin-top: 36px;
        }
        }
        
        @media (min-width: 840px) {
        figure, .graf--figure.graf-after--h4, .graf--mixtapeEmbed.graf-after--h4, .graf--pre.graf-after--h4 {
            margin-top: 44px;
        }
        }

.blogpost{
    figure, img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .title {
            font-family: var(--heading-font-family);
            font-weight: 700;
    }
p{
    // font-size: 18px;
    // line-height: 1.58;
}

// needs work:
hr.section-divider {
    margin-top: 44px;
    margin-bottom: 34px;
    font-size: 24px;
    line-height: 1.4;
    display: block;
    display: none;
    border: 0;
    text-align: center;
    overflow: visible;
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    border: 0;
}
hr.section-divider:before {
    font-family: var(--font-system-serif);
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    letter-spacing: .6em;
    content: '...';
    display: inline-block;
    margin-left: .6em;
    color: rgba(0,0,0,.68);
    position: relative;
    top: -30px;
}
@media (min-width: 767px){
    hr.section-divider {
        margin-top: 52px;
        margin-bottom: 42px;
    }

    p {
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
}
}
}
