.section-developers {
body, p, table, li, dt {
    font-family: $futura-font-family;
    font-size: 	1.125rem; // 18px
    letter-spacing: 0.45px;
}

.body2 {
    font-family: $futura-font-family;
}
}