.field {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 3px;
}

input {
    caret-color:#0002ff;
}

:focus {
    outline: var(--theme-primary,#0002ff) auto 2px;
    outline:#0002ff auto 2px;
}