.nx-headerbar i {
  color: $theme-primary;
  color: var(--theme-primary);
  }
  
  svg {
      fill: $theme-primary;
      fill: var(--theme-primary);
    }
  
    .nx-navbar-trigger {
      font-size: 2.5rem; // fixes alignment of hamburger icon
    }
