{{ define "sidebarmenu"}}
<div class="main-nav left-bar">
        {{ if (not (isset .Params "disablemenu")) }}
        {{- partial "_shared/menu-company.html" . -}}
        {{ end }}
</div>
{{ end }}
{{ define "title" }}<span></span>{{ end }}
{{ define "main" }}
<div class=" grid-article___inner">
        <article class="grid-content">
                <div class="post">
                        {{- partial "_shared/title" . -}}
                </div>
                <div class="post">
                        {{ .Content }}
                </div>
                <div class="post">
                        {{- partial "_shared/after-post-tags" . }}
                </div>
        </article>
</div>
{{ end }}