{{ define "nav" }}
{{- partial "_shared/menu-developers.html" . -}}
{{ end}}
{{ define "main" }}
<div class="grid-content section-developers">
    <div class="post">
        {{ .Content }}
    </div>
    <section class="recent-posts">
        <div class="section-title post">
            <h2><span>All Posts</span></h2>
        </div>

        <div class="section-content post">

            <ul class="list list--two-line list-reset">
                {{- $post_paginator := .Paginate .Data.Pages.ByDate.Reverse 6 }}
                {{ range $post_paginator.Pages }}
                {{- partial "list/twoline" . -}}
                {{end}}
            </ul>
        </div>

    </section>
</div>
{{ end }}