{{ define "nav" }}
{{- partial "_shared/menu-developers.html" . -}}
{{ end}}
{{ define "main" }}
<div class="grid-content section-developers">
    <article>
        {{ with .Resources.ByType "csv" }}
        <section class="post downloads">
            <div class="Csv">
                {{ range . }}
                <a href="{{ .RelPermalink }}">{{.Title}}</a>
                {{ end }}
            </div>
        </section>
        {{ end }}
        <div class="post">
            {{ .Content }}
        </div>
    </article>
    {{- partial "_shared/after-post-tags" . }}
</div>
{{ end }}
{{ define "sidebar" }}
<div class="sticky mw-260 order-2 w-20-l ph5-m ph0-l mb4 sticky futura-font-family">
    {{- partial "toc.html" . -}}

    {{ with .Resources.ByType "csv" }}
    <section class="post downloads">
        <p class="bold px1 heading-font-family">Downloads</p>
        <div class="Csv">
            {{ range . }}
            <a href="{{ .RelPermalink }}">{{.Title}}</a>
            {{ end }}
        </div>
    </section>
</div>
{{ end }}
{{ end }}
{{ define "source-link" }}{{- partial "structure/source-link" . -}}{{ end }}