<link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="/landing/images/android-desktop.png">
<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="FashionUnited">
<link rel="apple-touch-icon-precomposed" href="/landing/images/apple-touch-icon-precomposed.png">
<!-- Add to homescreen for IE -->
<meta name="msapplication-TileImage" content="/landing/images/favicon.png">
<meta name="msapplication-TileColor" content="#000000">
