/* Shape */
$shape-small-component-radius: 4px !default;
$shape-medium-component-radius: 4px !default;
$shape-large-component-radius: 24px !default;

/*
# Small Components

Button

Chip

Expanding bottom sheet (collapsed) *

Extended floating action button

Floating action button

Filled text field

Outlined text field

Snackbar

Tooltip

# Medium Components

Card

Dialog

Image list item

Menu

# Large Components

Backdrop *

Data table

Expanding bottom sheet (expanded / full-screen) *

Modal bottom sheet (collapsed)

Modal bottom sheet (expanded / full-screen) *

Nav drawer (bottom - collapsed)

Nav drawer (bottom - expanded / full-screen) *

Nav drawer (side)

Side sheet

Standard bottom sheet (collapsed)

Standard bottom sheet (expanded / full-screen) *

*/