{{ define "header"}}
{{- partial "_shared/navigation" . -}}
{{ end }}
{{ define "main" }}
<div class="grid-nav pt2 pb1 md-pt3 md-pb2 px2">
    {{- partial "_shared/menu-jobs.html" . -}}
</div>
<section class="grid-content recent-posts">
    <div class="section-title">
    </div>
    <div class="row listrecent">
        <div class="grid--cards shuffle" id="shuffle">
            {{ range where .Pages.ByTitle "Params.hidden" "ne" true }}
            {{- partial "list/card-notitle" . -}}
            {{ end }}
        </div>
    </div>
    <div class="grid-nav pt2 pb1 md-pt3 md-pb2 px2">
        {{ .Content }}
    </div>
</section>
</div>
<div class="p4 my4">
    {{- partial "amp/work-for-brands" . -}}
</div>
{{ end }}
{{ define "footer"}}
{{ end }}