.imageCaption {
    font-family: var(--font-family);
    color: var(--black-disabled);
    letter-spacing: -.02em;
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga" on,"lnum" on;
    -moz-font-feature-settings: "liga" on,"lnum" on;
    -webkit-font-feature-settings: "liga" on,"lnum" on;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 0;

    position: relative;
    left: 0;
    width: 100%;
    top: 0;
    outline: 0;
}