<footer class="pt4">
  <div class="px2 py3 container">
    {{/*  <div class="clearfix mxn2">  */}}
        <div class="mx-auto">  
      <div class="clearfix">
      <div class="col col-6 md-col-2">
        <ul class="list-reset footerpadding">
          <li>
            <h4 class="h4 my1">
              {{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.title }}
            </h4>
          </li>
          {{ if .Site.Params.joomlaNavBar }}
          
            {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url1 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url1 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.text1 }}</a></li>{{else}}{{end}}
            {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url2 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url2 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.text2 }}</a></li>{{else}}{{end}}
            {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url3 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url3 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.text3 }}</a></li>{{else}}{{end}}
            {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url4 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url4 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.text4 }}</a></li>{{else}}{{end}}
            {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url5 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url5 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.text5 }}</a></li>{{else}}{{end}}
            {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url6 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url6 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.text6 }}</a></li>{{else}}{{end}}
            {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url7 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url7 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.text7 }}</a></li>{{else}}{{end}}
            {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url8 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url8 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.text8 }}</a></li>{{else}}{{end}}
            {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url9 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url9 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.text9 }}</a></li>{{else}}{{end}}
            {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url10 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url10 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.text10 }}</a></li>{{else}}{{end}}

          {{ else if or (eq .Site.Params.locale "en-IE") (eq .Site.Params.locale "zh-HK") (eq .Site.Params.locale "pt-BR") (eq .Site.Params.locale "de-AT") (eq .Site.Params.locale "fr-LU") }}

              {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url7 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url7 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.text7 }}</a></li>{{else}}{{end}}
              {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url8 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url8 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.text8 }}</a></li>{{else}}{{end}}

          {{ else if or (eq .Site.Params.locale "en-HU") (eq .Site.Params.locale "sv-SE") (eq .Site.Params.locale "cs-CZ") (eq .Site.Params.locale "da-DK") (eq .Site.Params.locale "fi-FI") (eq .Site.Params.locale "en-JP") (eq .Site.Params.locale "nb-NO") (eq .Site.Params.locale "pt-PT") (eq .Site.Params.locale "pl-PL") (eq .Site.Params.locale "tr-TR") }}

              {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url8 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.url8 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.news.text8 }}</a></li>{{else}}{{end}}

          {{ end }}
        </ul>
      </div>
      <div class="col col-6 md-col-2">
        <ul class="list-reset">
          <li>
            <h4 class="h4 my1">
              {{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.title }}
            </h4>
          </li>
          {{ if .Site.Params.joomlaNavBar }}
          {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.url1 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.url1 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.text1 }}</a></li>{{else}}{{end}}
          {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.url2 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.url2 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.text2 }}</a></li>{{else}}{{end}}
          {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.url3 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.url3 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.text3 }}</a></li>{{else}}{{end}}
          {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.url4 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.url4 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.text4 }}</a></li>{{else}}{{end}}
          {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.url5 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.url5 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.text5 }}</a></li>{{else}}{{end}}
          {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.url6 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.url6 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.text6 }}</a></li>{{else}}{{end}}
          {{ if ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.url7 }}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.url7 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.text7 }}</a></li>{{else}}{{end}}

        {{ else if or (eq .Site.Params.locale "en-HU") (eq .Site.Params.locale "en-IE") (eq .Site.Params.locale "zh-HK") (eq .Site.Params.locale "pt-BR") (eq .Site.Params.locale "de-AT") (eq .Site.Params.locale "fr-LU") (eq .Site.Params.locale "sv-SE") (eq .Site.Params.locale "cs-CZ") (eq .Site.Params.locale "da-DK") (eq .Site.Params.locale "fi-FI") (eq .Site.Params.locale "en-JP") (eq .Site.Params.locale "nb-NO") (eq .Site.Params.locale "pt-PT") (eq .Site.Params.locale "pl-PL") (eq .Site.Params.locale "tr-TR") }}

        {{if .Params.hero_border_color}}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.url5 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.text5 }}</a></li>{{else}}{{end}}
        {{if .Params.hero_border_color}}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.url6 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.text6 }}</a></li>{{else}}{{end}}
        {{if .Params.hero_border_color}}<li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.url7 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.executive.text7 }}</a></li>{{else}}{{end}}
        {{ end }}
        </ul>
      </div>
      <div class="col col-6 md-col-2">
        <ul class="list-reset">
          <li>
            <h4 class="h4 my1">
              {{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.events.title }}
            </h4>
          </li>
          <li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.events.url1 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.events.text1 }}</a></li>
          <li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.events.url2 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.events.text2 }}</a></li>
          <li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.events.url3 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.events.text3 }}</a></li>
          <li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.events.url4 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.events.text4 }}</a></li>
        </ul>
      </div>
      <div class="col col-6 md-col-2">
        <ul class="list-reset">
          <li>
            <h4 class="h4 my1">
              {{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.connect.title }}
            </h4>
          </li>
          <li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.connect.url3 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.connect.text3 }}</a></li>
          <li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.connect.url4 }}" target="_blank" rel="noopener">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.connect.text4 }}</a></li>
          <li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.connect.url5 }}" target="_blank" rel="noopener">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.connect.text5 }}</a></li>
          <li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.connect.url6 }}" target="_blank" rel="noopener">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.connect.text6 }}</a></li>
          <li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.connect.url7 }}" target="_blank" rel="noopener">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.connect.text7 }}</a></li>
          <li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.connect.url8 }}" target="_blank" rel="noopener">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.connect.text8 }}</a></li>
          <li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.connect.url9 }}" target="_blank" rel="noopener">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.connect.text9 }}</a></li>
        </ul>
      </div>
      <div class="col col-6 md-col-2">
        <ul class="list-reset">
          <li>
            <h4 class="h4 my1">
              {{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.about.title }}
            </h4>
          </li>
          <li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.about.url1 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.about.text1 }}</a></li>
            <li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.about.url2 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.about.text2 }}</a></li>
            <li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.about.url3 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.about.text3 }}</a></li>
            <li><a class="h5 py1 block text-decoration-none" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.about.url4 }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.about.text4 }}</a></li>
        </ul>
      </div>
      {{/*  <div class="col col-6 md-col-2">
          <div class="p2">
              <p class="h6 mb0">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.more_info.title }}</strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.more_info.text1 }}</p>
              <p class="h6 mb0">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.more_info.text3 }}<a target="_blank" rel="noopener" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.more_info.url }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.more_info.text4 }} &copy; {{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.more_info.text5 }} {{ now.Year }}</a></p>
            </div> 
        </div>  */}}
    </div>
    </div>
    <div class="p2 pb4">
    <p class="center mb0"><strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.more_info.title }}</strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.more_info.text1 }}</p>
    <p class="center mb0">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.more_info.text3 }}<a class="text-decoration-none" target="_blank" rel="noopener" href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.more_info.url }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.more_info.text4 }} &copy; {{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.more_info.text5 }} {{ now.Year }}</a></p>
  </div>
  </div>
</footer>
