<footer>
    <div class="px2 py3">
        <div class="col col-12"></div>
        <p class="center" style="color: white;"><a href="{{ .Params.brand_home_url}}" class="text-decoration-none" target="_blank">{{ .Params.brandname }}</a>
        </p>
        <p class="center" style="color: white;"><a href="https://fashionunited.com/international-fashion-jobs" class="text-decoration-none"
                target="_blank">Hosted by FashionUnited</a></p>
        <p class="center" style="color: white;"><a href="https://fashionunited.info/privacy" class="text-decoration-none" target="_blank">Career
                Privacy Policy</a></p>
    </div>
    </div>
</footer>