<a href="{{ .RelPermalink }}" title="{{ .Title }}" class="text-decoration-none">
  <li class="list-item flex py1 px0 m0 line-height-4">
    <span class="list-item__graphic px0 py2">
      <div class="list__media list__media--16-9">
        {{ partial "_shared/list-image" . }}
      </div>
    </span>
    <span class="list-item__text">
      <span class="list-item__primary-text h5">{{.Title}}</span>
      <span class="list-item__secondary-text bg-white body2">
        {{ if isset .Params "description"}}{{ .Params.Description | truncate 75}}{{ else }}{{ .Summary | truncate 75}}{{ end }}
      </span>
    </span>
    <span aria-hidden="true" class="list-item__meta">
      <!---->{{ .WordCount }}
      <!----></span>
  </li>
  <li role="separator" class="list-divider list-divider--inset"></li>
</a>
