{{ partial "structure/head.no-amp" . }} {{/* Body starts inside head-amp */}}
<div></div>
{{ block "navigation" . }}{{ partial "_shared/navigation" . }}{{ end }}
{{ block "hero" . }}
<header class="hero header-hero">
    {{ partial "_shared/hero" . }}
</header>
{{ end }}
</div>{{/* {{ partial "_shared/debug-page-resources.html" . }} */}}
<main class="main-content" id="main-content">
    <div class="grid-wrapper">
        {{ block "title" . }}
        <div class="grid-header post">
            <div class="pt2 pb1 md-pt3 md-pb2">
                {{- partial "_shared/title" . -}}
            </div>
        </div>
        {{ end }}
        {{ if (not (isset .Params "disablemenu")) }}
        <div class="grid-nav pt2 pb1 md-pt3 md-pb2 px2">
            {{ block "nav" . }}{{ end }}
        </div>
        {{ end }}
        {{ block "main" . }}{{ end }}
        <div class="grid-sidebar pt2 pb1 md-pt3 md-pb2 px2">
            {{ block "sidebar" . }}{{ end }}
        </div>
    </div>
</main>
{{ block "main-blank" . }}{{ end }}
{{ block "footer" . }}{{ partial "structure/footer" . }}{{ end }}
{{ block "source-link" . }}{{ end }}
{{ partial "structure/footer-amp-scripts" . }}
