{{ partial "structure/head-amp" . }} {{/* Body starts inside head-amp */}}
<div></div>
{{ block "hero" . }}
<header class="hero header-hero">
    {{ partial "_shared/hero" . }}
</header>
{{ end }}
{{/* {{ partial "_shared/debug-page-resources.html" . }} */}}
<main class="main-content" id="main-content">
    <div class="grid-wrapper">
        {{ block "title" . }}
        <div class="grid-header pt2 pb1 md-pt3 md-pb2 px2">
            {{- partial "_shared/title" . -}}
        </div>
        {{ end }}
        <div class="grid-nav pt2 pb1 md-pt3 md-pb2 px2">
            {{ if (not (isset .Params "disablemenu")) }}
            {{ block "nav" . }}{{ end }}
            {{ end }}
        </div>
        {{ block "main" . }}{{ end }}
        <div class="grid-sidebar pt2 pb1 md-pt3 md-pb2 px2">
            {{ block "sidebar" . }}{{ end }}
        </div>
    </div>
</main>
{{ block "main-blank" . }}{{ end }}
{{ block "navigation" . }}{{ partial "_shared/navigation" . }}{{ end }}
{{ block "footer" . }}{{ partial "structure/footer" . }}{{ end }}
{{ partial "structure/footer-amp-scripts" . }}