{{ partial "structure/head.no-amp" . }} {{/* Body starts inside head-amp */}}
<div></div>
{{ block "hero" . }}
<header class="hero header-hero">
    {{ partial "_shared/hero" . }}
</header>
{{ end }}
</div>
{{/* {{ partial "_shared/debug-page-resources.html" . }} */}}
<main class="main-content" id="main-content">
    {{/* <div class="grid mx-auto"> */}}
    <div class="grid-wrapper">

        {{ block "title" . }}
        <div class="grid-head">
            {{- partial "_shared/title" . -}}
        </div>
        {{ end }}

        {{ if (not (isset .Params "disablemenu")) }}
        <div class="grid-nav">
            {{ block "sidebarmenu" . }}{{ end }}
        </div>
        {{ end }}

        {{ block "main" . }}{{ end }}
    </div>
</main>
{{ block "navigation" . }}{{ partial "_shared/navigation" . }}{{ end }}
{{ block "footer" . }}{{ partial "structure/footer" . }}{{ end }}
{{ partial "structure/footer-amp-scripts" . }}