@use "sass:string";
@use "../theme/theme";

/* Shape */
$shape-small-component-radius: 0px;
$shape-medium-component-radius: 0px;
$shape-large-component-radius: 0px;

.border-width2 {
    border-width: 2px;
}

.overflow-x-scroll {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}

.mw-260 {
    max-width: 260px;
}