@use "../theme";

.btn {
  // btn typography is in typography
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  will-change: transform, opacity;
  padding: 0 8px 0 8px;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  height: 36px;
  border: none;
  outline: none;
  border-radius: 4px;
  /* @alternate */
  border-radius: var(--mdc-shape-small, 4px);
  /* @alternate */
  line-height: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
}

.btn:not(:disabled) {
  color: var(--theme-primary, #EA0051);
}

.btn--raised {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--raised,
.btn--unelevated {
  padding: 0 16px 0 16px;
}

.btn--raised:not(:disabled),
.btn--unelevated:not(:disabled) {
  color: #fff;
  color: var(--theme-on-primary, #fff);
}

.btn--raised:not(:disabled),
.btn--unelevated:not(:disabled) {
  background-color: var(--theme-primary, #EA0051);
}

.btn--raised:not(:disabled),
.btn--unelevated:not(:disabled) {
  background-color: #EA0051;
}

.btn::before,
.btn::after {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
}

.btn::before {
  transition: opacity 15ms linear, background-color 15ms linear;
  z-index: 1;
}

.btn-primary:not(:disabled) {
  color: #fff;
  color: var(--theme-on-primary, #fff);
}

.btn-primary {
  background-color: var(--theme-primary, #EA0051);
  // border-radius: 4px;
}

.btn-outline,
.btn-outline:hover {
  border-color: currentcolor;
}


.btn::before,
.btn::after {
  top: calc(50% - 100%);
  /* @noflip */
  left: calc(50% - 100%);
  width: 200%;
  height: 200%;
}

.btn.ripple-upgraded::after {}

.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn:active {
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.btn.btn--dense {
  border-radius: 4px;
}

// .btn:not(:disabled) {
//   background-color: transparent;
// }
.btn .btn__icon {
  /* @noflip */
  margin-left: 0;
  /* @noflip */
  margin-right: 8px;
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 18px;
  vertical-align: top;
}

.btn::before,
.btn::after {
  background-color: #EA0051;
}

@supports not (-ms-ime-align: auto) {

  .btn::before,
  .btn::after {
    /* @alternate */
    background-color: var(--theme-primary, #EA0051);
  }
}

.btn:hover::before {
  opacity: 0.04;
}

.btn__label+.btn__icon {
  /* @noflip */
  margin-left: 8px;
  /* @noflip */
  margin-right: 0;
}

// [dir=rtl] .btn__label + .btn__icon, .btn__label + .btn__icon[dir=rtl] {
//   /* @noflip */
//   margin-left: 0;
//   /* @noflip */
//   margin-right: 8px;
// }

svg.btn__icon {
  fill: currentColor;
}

.btn--raised .btn__icon,
.btn--unelevated .btn__icon,
.btn-outline .btn__icon {
  /* @noflip */
  margin-left: -4px;
  /* @noflip */
  margin-right: 8px;
}

.btn--raised .btn__label+.btn__icon,
.btn--unelevated .btn__label+.btn__icon,
.btn-outline .btn__label+.btn__icon {
  /* @noflip */
  margin-left: 8px;
  /* @noflip */
  margin-right: -4px;
}

.btn-outline {
  border-style: solid;
  padding: 0 14px 0 14px;
  border-width: 2px;
}

.btn-outline:disabled {
  border-color: rgba(0, 0, 0, 0.37);
}

.btn-outline:not(:disabled) {
  border-color: #EA0051;
  /* @alternate */
  border-color: var(--theme-primary, #EA0051);
  color: #EA0051;
  color: var(--theme-primary, #EA0051)
}

.btn--dense {
  height: 32px;
  font-size: 0.8125rem;
}