{{ define "header"}}
{{- partial "_shared/navigation" . -}}
{{ end }}
{{ define "main" }}
<section class="grid-content recent-posts">
    <div class="section-title">
    </div>
    <div class="post">
        {{ .Content }}
    </div>
    <div class="row listrecent">
        <div class="grid__cards">
            {{- $post_paginator := .Paginate .Data.Pages.ByDate.Reverse 100 }}
            {{ range where $post_paginator.Pages "Params.hidden" "ne" true }}
            {{- partial "list/card" . -}}
            {{end}}
            <!-- {{ range where .Pages.ByDate "Params.hidden" "ne" true }}
            {{- partial "list/card" . -}}
            {{ end }} -->
        </div>
    </div>

</section>
{{ end }}
{{ define "footer"}}
{{ end }}
