/*
  amp-theme
  ----
  this is just a minimal styling entry point for your custom stylesheet
  you can replace the following styles with your own stylesheet
  or import them writing:
  @use 'path/to/your/stylesheet.scss'

*/
@use "sass:string";
@use "sass:meta";

// When using web fonts, add the font-face like so:
// @use "font-face/futura-pt";
// Also, to prevent faux bold, add $heading-weight-h1-h4: 400 to the typography 
// @use below to change the heading weight.

// Customized:

@use "shape"with ($shape-small-component-radius: 0px,
  $shape-medium-component-radius: 0px,
  $shape-large-component-radius: 0px, );
@use "theme"with ($theme-primary: #EA0051);
@use "elevation"with ($elevation-card: 0px 0px 17px rgba(0, 0, 0, 0.3));

@use "typography"with ($heading-font-family: string.unquote("'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif"),
  $font-family: string.unquote("'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif"),
  $heading-weight-h5: 700,
  $heading-weight-h6: 700);

// Defaults:

@use "accordion";
@use "author";
@use "anchors";
@use "blogpost";
@use "breadcrumbs";
@use "button";
@use "card";
@use "data-table";

@use "embedder";
// @use "employer-branding-page";
@use "figure";
@use "footer";
@use "form";
@use "grid"; //./lib/sm-margin error
@use "header-link";
@use "hero";
@use "list";
@use "mdc-branding";
// @use "mdc-list-embedders"; // big, should only load on pages with embedders...
@use "navigation";
@use "navbar";
@use "statistics_page";
@use "table";
@use "tabs";
@use "tags";

// @use 'styles.scss'; // to use the default styling