@use "../theme";
@use "../shape";

.data-table {
    background-color: #fff;
    /* @alternate */
    background-color: theme.$theme-surface;
    border-radius: 4px;
    /* @alternate */
    border-radius: shape.$shape-medium-component-radius;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    -webkit-overflow-scrolling: touch;
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}