<!-- TOCs need to be declared explicitly in the front matter of content/*.md -->
<aside class="list-reset md-px3 sm-py0 border-left black-disabled">
    {{ if .Params.toc }}
    <p class="bold px1 heading-font-family">What's on this Page</p>
    <span class="nested-list-reset black-high">
        {{ .TableOfContents }}
    </span>
    {{ end }}
    {{- partial "previous-next-links-in-section.html" . -}}

    {{- if .Params.godocref -}}
    <a target="_blank" class="blue yellow tooltip right godoc-link"
        data-tooltip="See the related Godocs for {{.Title }}" href="{{.Params.godocref}}">
    </a>
    {{- end -}}
</aside>
