// @import 'basscss-hide/index.css'; // contains !important, we cannot use that with AMP. Created custom class for .hide
@import 'basscss-layout/index.css';
@import 'basscss-margin/index.css';
@import 'basscss-padding/index.css';
@import 'basscss-position/index.css';
@import 'basscss-addons/modules/responsive-margin/index.css';
@import 'basscss-addons/modules/responsive-padding/index.css';
@import 'basscss-grid/index.css'; /* >> for breakpoints navbar */
@import 'basscss-flexbox/index.css';
@import 'basscss-align/index.css';
@import 'basscss-border/index.css';

@import 'hide';

$breakpoint-sm: 480px;
$breakpoint-md: 600px;
$breakpoint-lg: 840px;

:root {
  /* https://material.io/design/layout/responsive-layout-grid.html#breakpoints */
  --breakpoint-sm: #{$breakpoint-sm};
  --breakpoint-md: #{$breakpoint-md};
  --breakpoint-lg: #{$breakpoint-lg};
}

.flex-first { order: -1 }
.flex-last  { order: 99999 }

// https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_layouts_using_CSS_Grid_Layout

.centered {
  margin: 0 auto;
  padding: 0 1em;
}
// @media screen and (min-width: 52em) {
//   .centered {
//       max-width: 52em;
//   }
// }

.cards--marketplace {
  display: flex;
  flex-wrap: wrap;
}

.card--marketplace {
  flex: 1 0 500px;
  box-sizing: border-box;
  // margin: 1rem .25em;
  margin: auto;
}

@media screen and (min-width: 40em) {
  .card--marketplace {
     max-width: calc(33% -  1em);
  }
}

@media screen and (min-width: 60em) {
  .card--marketplace {
      max-width: calc(33% - 1em);
  }
}

.grid {
    &__cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      column-gap: 0.5rem;
  
      @media (min-width: 480px) {
        grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
        column-gap: 2rem;
      }
      &-mini {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(204px, 1fr));
        column-gap: 0.5rem;
      }

      &--marketplace {
        display: flex;
          justify-content: center;
          flex-direction: row;

        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
        column-gap: 0.5rem;

        @media (min-width: 480px) {
          grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
          column-gap: 1rem;
        }

        @media (min-width: 840px) {
          grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
          column-gap: 1rem;
        }
    
        @media (min-width: 1440px) {
          grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
          column-gap: 2rem;
        }

        @media (min-width: 1600px) {
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
          column-gap: 2rem;
        }


        @media (min-width: 1920px) {
            grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
            column-gap: 2rem;
          }

          @media (min-width: 2400px) {
            grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
            column-gap: 2rem;
          }

          .card___title {
            font-size: 24px;
            text-align: center;              
        }
      }
  
      .logo img {
        max-height: 56px;
        max-width: 119px;
      }
    }
  
    &__logos {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
      column-gap: 4rem; //10px;
      row-gap: 4rem;

      .logo img {
        max-height: 56px;
      }
  
      .logo-media {
        min-height: 100%;
      }
    }
  }

.grid-header {
    grid-area: header;
}

.grid-title {
    grid-area: title;
}

.grid-content {
    grid-area: content;
}

.grid-nav {
    grid-area: nav;
}

.grid-sidebar {
    grid-area: sidebar;
}

.grid-breadcrumbs {
    grid-area: breadcrumbs;
}

.grid-ad {
    grid-area: ad;
}

.grid-footer {
    grid-area: footer;
}

.grid-wrapper {
    display: grid;
    grid-gap: 0;
    grid-template-areas:
        "breadcrumbs"
        "header"
        "nav"
        "content"
        "sidebar"
        "ad"
        "footer";
}

@media (min-width: 480px) {
    .grid-wrapper {
        grid-template-columns: 1fr 55ch 1fr;
        grid-template-areas:
        'breadcrumbs breadcrumbs breadcrumbs'
        'header header header'
        'nav nav nav'
        '. content .'
        '. sidebar .'
        '. ad .'
        'footer footer footer';
  
    }

    .main-nav nav ul {
        display: flex;
        justify-content: space-between;
    }
}

// .grid-article___inner {

//     grid-area: content;

//     article {
//         display: grid;
//         grid-template-columns: [full-start] minmax(32px, 1fr) [main-start] minmax(auto, 73ch) [main-end] minmax(32px, 1fr) [full-end];

//         > p,
//         > a,
//         > h1,
//         > h2,
//         > h3,
//         > h4,
//         > h5,
//         > h6,
//         > li,
//         > ul,
//         > ol,
//         > pre,
//         > code,
//         > hr,
//         > div,
//         > figure,
//         > amp-img,
//         > amp-accordion,
//         > amp-selector,
//         > blockquote,
//         > table {
//             grid-column: main;
//         }
//         figure {
//             margin: 0;
//         }
// }
// }

@media (min-width: 841px) {

}

@media (min-width: 840px) {
    .grid-wrapper {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas:
            "breadcrumbs breadcrumbs  breadcrumbs"
            "nav    header  sidebar"
            "nav    content sidebar"
            "nav    content ad"
            "footer footer  footer"
    }

    .main-nav nav ul {
        flex-direction: column;
    }
}
