{{ define "hero"}}{{ end }}
{{ define "breadcrumbs"}}
<div></div>{{/* DUMMY COMMENT to override */}}{{ end }}
{{ define "title"}}
<div></div>{{/* DUMMY COMMENT to override */}}{{ end }} {{ define "main"}}
{{/*  {{- partial "landing-page-sections/examples/showcase.html" . -}} */}}
{{/*  In development: show a list of all pages for quick access when testing */}}
{{ if .Site.BuildDrafts }}
<div class="section-content post">
    <ul class="list list--two-line list-reset">
        {{ range .Site.Pages }}
        {{- partial "list/twoline" . -}}
        {{ end }}
    </ul>
</div>
{{ end }}
<div class="grid-content fu-image-full">
    <h1 class="center h1 my4 pt4 fu-lite-header">The Industry Network</h1>
    <div class="m4 center">
        <a class="btn btn-outline m4" href="{{ $.Site.Params.fashionunitedLite.buttonLinkNews }}">
            <span class="btn__label">News</span>
        </a>
        <a class="btn btn-outline m4" href="{{ $.Site.Params.fashionunitedLite.buttonLinkJobs }}">
            <span class="btn__label">Jobs</span>
        </a>
        <a class="btn btn-outline m4" href="{{ $.Site.Params.fashionunitedLite.buttonLinkBI }}">
            <span class="btn__label">Business Intelligence</span>
        </a>
    </div>
    <div class="my4">
        <h2 class="center">FashionUnited: making the industry more efficient and transparent.</h2>
        <p class="my2 center">
            FashionUnited is the online platform for fashion professionals, which combines the latest fashion news,
            career opportunities,
            business intelligence and crucial industry insights on just one platform in 20+ countries and 8 languages.
            Supporting
            fashion professionals and -enterprises is at our heart. For that reason we provide our visitors with
            high-quality, to
            the point insights and information in their local language, next to offering customized HR & Marketing
            solutions to our
            international customers. Over 1 million industry experts visit FashionUnited every month to be in the know,
            to start
            a new professional challenge or to drive their fashion business even further.</p>
    </div>
</div>
{{ end }} {{ define "footer"}}
<div></div>{{/* DUMMY COMMENT to override */}}{{ end }}
