
    {{ if eq .Section "jobs" }}
    {{/*  // Minify can cause problems when inlining!  */}}
    {{ $sassTemplate := resources.Get "sass/jobs-template.scss" }}
    {{ $style := $sassTemplate | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS | resources.Minify}}
    {{/*  {{ $style.Content }}  */}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{/*  {{ $styles := resources.Get "sass/jobs-template.scss" | resources.ExecuteAsTemplate "main.scss" . | toCSS (dict "enableSourceMap" true) }}  */}}

    {{/*  this works  */}}
{{ $styles := resources.Get "sass/jobs-template.scss" | resources.ExecuteAsTemplate "main.scss" . | toCSS (dict "enableSourceMap" true) }}
{{ $styles.Content }}


        {{/*  {{ with resources.Get "main.css" }}
      <style>{{ .Content | safeCSS }}</style>
      {{ end }}  */}}


    {{/*  {{ with resources.Get "sass/jobs-template.scss" | resources.ExecuteAsTemplate | toCSS | minify }}  */}}
    {{/*  {{ with $jobsstyle }}
    <style>{{ .Content | safeCSS }}</style>
    {{ end }}    */}}
    {{/*  {{ with $jobsstyle }}
    {{ .Content | safeCSS }}
    {{ end }}  */}}

    {{ end }}
    {{/*  {{ if eq .Section "jobs" }}
    {{ $style := resources.Get "/jobs/mey.css" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}"> 
    {{ end }}  */}}

    {{/*  {{ $style := resources.Get "/jobs/jobs.css" | resources.ToCSS | resources.Minify | resources.Fingerprint }}  */}}
    {{/*  {{ readFile "assets/main.css" | safeCSS }}
      */}}
      {{/*  {{ with resources.Get "main.scss" | minify }}
      <style>{{ .Content | safeCSS }}</style>
      {{ end }}  */}}


    {{/*  {{ partial "employer-branding-custom-stylesheet" | safeCSS }}  */}}


    :root {
        {{if .Params.theme_primary_ebp}}--theme-primary-ebp:{{ index .Params "theme_primary_ebp" }};{{else}}{{end}}
        {{if .Params.theme_secondary_ebp}}--theme-secondary-ebp:{{ index .Params "theme_secondary_ebp" }};{{else}}{{end}}
        
        {{ if isset .Params "secondary_font_family_ebp" }}--secondary-font-family-ebp:{{ .Params.secondary_font_family_ebp | safeCSS }}, 'HelveticaNeue-CondensedBold', 'Helvetica Neue Condensed Bold', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;{{ end }}
        {{ if isset .Params "primary_font_family_ebp" }}--primary-font-family-ebp:{{ .Params.primary_font_family_ebp | safeCSS }}, Georgia, Cambria, 'Bitstream Charter', 'Charis SIL', Utopia, 'URW Bookman L', 'Times New Roman', Times, serif;{{ end }}
    
        {{if .Params.hero_border_color}}--hero-border-color:{{ index .Params "hero_border_color" }};{{else}}{{end}}
        {{if .Params.tab_color}}--tab-color:{{ index .Params "tab_color" }};{{else}}{{end}}
        {{if .Params.tab_underline_color}}--tab-underline-color:{{ index .Params "tab_underline_color" }};{{else}}{{end}}
        {{if .Params.heading_color}}--heading-color:{{ index .Params "heading_color" }};{{else}}{{end}}
        {{if .Params.heading_background_color}}--heading-background-color:{{ index .Params "heading_background_color" }};{{else}}{{end}}
        {{if .Params.social_icon_color}}--social-icon-color:{{ index .Params "social_icon_color" }};{{else}}{{end}}
    }


{{/*  Use this method to have Parcel process CSS  */}}
{{ $css := resources.Get "output/index.css" | minify }}
{{ with $css }}
  {{ $securecss := . | resources.Fingerprint }}  
  <link rel="stylesheet" href="{{ $securecss.Permalink | relURL  }}" integrity="{{ $securecss.Data.Integrity }}" crossorigin="anonymous"> 
{{ end }}

  {{/*    
    Use this method to have Hugo process PostCSS
  {{ $css := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") | minify }}
  {{ with $css }}
    {{ $securecss := . | resources.Fingerprint }}  
    <link rel="stylesheet" href="{{ $securecss.Permalink | relURL  }}" integrity="{{ $securecss.Data.Integrity }}" crossorigin="anonymous"> 
  {{ end }}  
  
  */}}

{{ if (fileExists "./assets/output/index.css") }}  
{{/* If we have an index.css file, it's for fonts. So process it with Pipes */}}
  {{ $fonts_css := resources.Get "output/index.css" }}
  {{ with $fonts_css }}
    {{ $fonts_securecss := . | resources.Fingerprint }}  
    <link rel="stylesheet" href="{{ $fonts_securecss.Permalink | relURL  }}" integrity="{{ $fonts_securecss.Data.Integrity }}" crossorigin="anonymous"> 
  {{ end }}
    {{/* And, Parcel generates the files to the output directory. Grab those files to create Prefetch links, and using Pipes, also puts them in our public folder */}}
  {{ $path := "./assets/output" }}
  {{ $files := readDir $path }}
  {{ range $files }}
    {{/*  You may want to narrow the range to something more specific  */}}
    {{ if in .Name "woff" }}  
      {{ $file := resources.Get (printf "%s%s" "output/" .Name) }}    
      <link rel="preload" href="{{ $file.Permalink | relURL }}" as="font" crossorigin>  
    {{ end }}
  {{ end }}
{{ end }}