.data-table {
    background-color: #fff;
    /* @alternate */
    background-color: var(--mdc-theme-surface, #fff);
    border-radius: 4px;
    /* @alternate */
    border-radius: var(--mdc-shape-medium, 4px);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    -webkit-overflow-scrolling: touch;
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}