@import 'basscss-addons/modules/forms/index.css';

.field {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 3px;
}

input {
    caret-color:#EA0051;
}

:focus {
    outline: var(--theme-primary,#EA0051) auto 2px;
    outline:#EA0051 auto 2px;
}