{{- with $.Params.images -}}
{{- $images := $.Resources.ByType "image" -}}
{{- $featured := $images.GetMatch (index . 0) -}}
{{/*  do something  */}}
{{ partial "_shared/header-image-smartcrop" (dict "context" . "featured" $featured) }}
{{ else -}}
{{- $images := $.Resources.ByType "image" -}}
{{- $featured := $images.GetMatch "*feature*" -}}
{{- if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
{{- with $featured -}}
{{/*  do something  */}}
{{ partial "_shared/header-image-smartcrop" (dict "context" . "featured" $featured) }}
{{- else -}}

{{- with $.Site.Params.images -}}
{{- $featured := $images.GetMatch (index . 0) -}}
<!-- {{ partial "_shared/header-image-smartcrop" (dict "context" . "featured" $featured) }} -->

<figure class="m0" itemscope itemtype="http://schema.org/ImageObject">
    <amp-img itemprop="image" src="/cdn/theme/images/card/card_412x232.webp" srcset="
        /cdn/theme/images/card/card_1280x720.webp 1280w,
        /cdn/theme/images/card/card_768x432.webp 768w, 
        /cdn/theme/images/card/card_412x232.webp 412w
        " alt="Default card image" layout="responsive" width="16" height="9">
        <amp-img placeholder src="/cdn/theme/images/card/card_placeholder_16_9.svg" layout="fill">
        </amp-img>
        <amp-img fallback itemprop="image" src="/cdn/theme/images/card/card_412x232.jpg" srcset="
            /cdn/theme/images/card/card_1280x720.jpg 1280w,
            /cdn/theme/images/card/card_768x432.jpg 768w, 
            /cdn/theme/images/card/card_412x232.jpg 412w
            " alt="Default card image" layout="responsive" width="16" height="9">
            <amp-img placeholder src="/cdn/theme/images/card/card_placeholder_16_9.svg" layout="fill">
            </amp-img>
        </amp-img>
    </amp-img>
</figure>

{{/*  <h3>
{{ $featured := index . 0 }}
</h3> */}}
{{ else -}}
{{/*  something else  */}}

{{- end -}}
{{- end -}}
{{- end }}