<figure itemscope itemtype="http://schema.org/ImageObject">
  <div class="elevation--z12">
    <amp-img itemprop="image" src="/landing/theme/images/hero/006-Color-06-BANNER_2560x526.jpg.webp" srcset="
      /landing/theme/images/hero/006-Color-06-BANNER_2560x526.jpg.webp 2560w,
      /landing/theme/images/hero/006-Color-06-BANNER_2048x421.jpg.webp 2048w, 
      /landing/theme/images/hero/006-Color-06-BANNER_1366x281.jpg.webp 1366w, 
      /landing/theme/images/hero/006-Color-06-BANNER_768x158.jpg.webp 768w, 
      /landing/theme/images/hero/006-Color-06-BANNER_375x77.jpg.webp 375w
      "
      alt="Hero image alt" layout="responsive"
      width="4.869269949"
      height="1" class="header-hero--image ">
      <amp-img placeholder src="/landing/theme/images/hero/006-Color-06-BANNER_375x77.jpg.svg" layout="fill">
      </amp-img>
      <amp-img fallback itemprop="image" src="/landing/theme/images/hero/006-Color-06-BANNER_2560x526.jpg" srcset="
        /landing/theme/images/hero/006-Color-06-BANNER_2560x526.jpg 2560w,
        /landing/theme/images/hero/006-Color-06-BANNER_2048x421.jpg 2048w, 
        /landing/theme/images/hero/006-Color-06-BANNER_1366x281.jpg 1366w, 
        /landing/theme/images/hero/006-Color-06-BANNER_768x158.jpg 768w, 
        /landing/theme/images/hero/006-Color-06-BANNER_375x77.jpg 375w
        "
        alt="Hero image alt" layout="responsive"
        width="4.869269949"
        height="1" class="header-hero--image ">
        <amp-img placeholder src="/landing/theme/images/hero/006-Color-06-BANNER_375x77.jpg.svg" layout="fill">
        </amp-img>
      </amp-img>
    </amp-img>
  </div>
  <figcaption class="z1 imageCaption"></figcaption>
</figure>
