<!-- sidebar start -->
<aside class="aside-nav">
    <ul class="list-reset">
        {{ $currentPage := . }}
        {{ range .Site.Menus.developers }}
        {{ if .HasChildren }}
        <li class="{{ if $currentPage.HasMenuCurrent "developers" . }}active{{ end }}">
            {{/* <a href="#">  */}}
            <a href="{{ .URL }}" class="text-decoration-none">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
        </li>
        <ul class="sub-menu pl1 list-style-none">
            {{ range .Children }}
            <li class="{{ if $currentPage.IsMenuCurrent "developers" . }}active{{ end }}">
                <a href="{{ .URL }}" class="text-decoration-none">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
        {{ else }}
        <li>
            <a href="{{ .URL }}" class="text-decoration-none">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</aside>
