@forward "../../variables/variables";
@use "sass:map";
@use "sass:string";
@use "./functions";
@use "./multiline-ellipsis";
@import 'basscss-typography/index.css';

// All components on the page should have a height divisible by the height of one line of paragraph text. Maintaining vertical rhythm (or composing to a baseline grid34) is the
// practice of making sure that the height of each textual element on the page (including lists, headings and block quotes) is divisible by a common number.

$font-family: string.unquote("Georgia, Cambria, 'Bitstream Charter', 'Charis SIL', Utopia, 'URW Bookman L', 'Times New Roman', Times, serif") !default;
$font-system: string.unquote("-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif") !default;
$font-system-serif: string.unquote("Georgia, Cambria, 'Times New Roman', Times, serif") !default;
$heading-font-family: string.unquote("'Futura PT Web Condensed Bold', 'HelveticaNeue-CondensedBold', 'Helvetica Neue Condensed Bold', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif") !default;
$futura-font-family: string.unquote("'FU Futura PT', 'HelveticaNeue-CondensedBold', 'Helvetica Neue Condensed Bold', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif") !default;

$h1: 3.052rem;    /* 41px */
$h2: 2.441rem;    /* 36px */
$h3: 1.953rem;    /* 29px */
$h4: 1.563rem;    /* 25px */
$h5: 1.25rem;    /* 16px */
$h6: 1rem;    /* 22px */

$body2: 1rem;

multiline-ellipsis.$line-height: 1.5;
$body-font-size: 1rem;

.heading-font-family {font-family:$heading-font-family;}
.font-family {font-family:$font-family;}
.futura-font-family {font-family:$futura-font-family}
.upper {
    text-transform: uppercase;
    }

:root {
    // Basscss typography variables
    // https://basscss.com/v7/docs/base-typography/
    // body {
    --line-height: #{multiline-ellipsis.$line-height};
    --body-font-size: #{$body-font-size};

    // p {
    --paragraph-margin-top: 1em;
    --paragraph-margin-bottom: 1rem;

        // https://basscss.com/v7/docs/type-scale/
    --h1: #{h1};    /* 41px */
    --h2: #{h2};    /* 36px */
    --h3: #{h3};    /* 29px */
    --h4: #{h4};    /* 25px */
    --h5: #{h5};    /* 16px */
    --h6: #{h6};    /* 22px */
    --font-family: #{$font-family};
    --heading-font-family: #{$heading-font-family};
    --font-system: #{$font-system};
    --font-system-serif: #{$font-system-serif};

    --body2: #{$body2};

    --font-navigation: var(--heading-font-family);
}

table{
    font-family: $font-family;
}

$mdc-typography-font-weight-values: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900
) !default;



// variables for font-sizes, weights, letter-spacing, line-heights, etc

@function pxToRem($px) {
    @return #{$px / 16px}rem;
  }


/* this is the "root" in "root em." */
html {
    font-size: 1rem;
}

body {
    font-family: $font-family;

    // Improve font rendering
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--black-high);
}

// hr in the style of medium.com
hr {
    border: none;
    color: rgba(8, 8, 8, 1);
    font-size: 28px;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    text-align: center;
    font-weight: 300;
    margin-top: 30px;

    &:before {
        content: "...";
        line-height: 1.4;
        font-style: italic;
        text-indent: 0.6em;
        letter-spacing: 0.6em;
    }
}

p, .body1, .body1 p {
    font-family: $font-family;

    font-weight: 400;
    letter-spacing: .03125rem;
    text-decoration: inherit;
    text-transform: inherit;

    // margin-block-start: 1em;
    // margin-block-end: 1em;
    color: var(--black-high);

    font-size: 1rem; // 16sp
    line-height: 1.5; // not rem! (even though material uses it) // 24sp
    font-weight: map.get($mdc-typography-font-weight-values, regular);
    letter-spacing: functions.mdc-typography-get-letter-spacing_(.5, 1);
    text-decoration: inherit;
    text-transform: inherit;
    margin-top: 0;
}

.body2, .body2 p {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.25px;
    color: var(--black-medium);

    font-size: pxToRem(14px);
    line-height: pxToRem(20px);
    font-weight: map.get($mdc-typography-font-weight-values, regular);
    letter-spacing: functions.mdc-typography-get-letter-spacing_(.25, .875);
    text-decoration: inherit;
    text-transform: inherit;
}



h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6, {
    font-family: var(--heading-font-family);
}

h1,
.h1 {
    font-size: pxToRem(60px);
    line-height: pxToRem(60px);
    font-weight: map.get($mdc-typography-font-weight-values, regular);
    letter-spacing: functions.mdc-typography-get-letter-spacing_(-.5, 3.75);
    text-decoration: inherit;
    text-transform: inherit;
    margin: 0 0 24px;    
}

h2,
.h2 {
    font-size: pxToRem(48px);
    line-height: pxToRem(50px);
    font-weight: map.get($mdc-typography-font-weight-values, regular);
    letter-spacing: functions.mdc-typography-get-letter-spacing_(.25, 2.125);
    text-decoration: inherit;
    text-transform: inherit;
    // margin: 12px 0;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

h3,
.h3 {
    font-size: pxToRem(34px);
    line-height: pxToRem(40px);
    font-weight: map.get($mdc-typography-font-weight-values, regular);
    letter-spacing: normal;
    text-decoration: inherit;
    text-transform: inherit;
    // margin: 12px 0;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

h4,
.h4 {
    font-size: pxToRem(24px);
    line-height: pxToRem(32px);
    font-weight: map.get($mdc-typography-font-weight-values, regular);
    letter-spacing: functions.mdc-typography-get-letter-spacing_(.25, 1.25);
    text-decoration: inherit;
    text-transform: inherit;
    margin: 12px 0;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

h5,
.h5 {
    font-size: pxToRem(20px);
    line-height: pxToRem(32px);
    font-weight: map.get($mdc-typography-font-weight-values, medium);
    letter-spacing: functions.mdc-typography-get-letter-spacing_(.25, 1.25);
    text-decoration: inherit;
    text-transform: inherit;
    margin: 12px 0;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

h6,
.h6 {
    font-size: pxToRem(20px);
    line-height: pxToRem(32px);
    font-weight: map.get($mdc-typography-font-weight-values, regular);
    letter-spacing: normal;
    text-decoration: inherit;
    text-transform: inherit;
    margin: 12px 0;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

blockquote {
    border-left: 3px solid var(--theme-primary, #0002ff);
    font-family: var(--typography-font-family-secondary, $font-system);
    padding-left: 16px;
    margin: 32px;
}

.btn {
    font-family: var(--heading-font-family);
    font-size: .875rem; // 14sp
    line-height: 2.25rem; // 36sp
    font-weight: map.get($mdc-typography-font-weight-values, regular);
    letter-spacing: functions.mdc-typography-get-letter-spacing_(1.25, .875);
    text-decoration: none;
    text-transform: uppercase;
}

.overline {
    font-size: .75rem; // 12sp
    line-height: 2rem; // 32sp
    font-weight: map.get($mdc-typography-font-weight-values, regular);
    letter-spacing: functions.mdc-typography-get-letter-spacing_(2, .75);
    text-decoration: none;
    text-transform: uppercase;
}

.caption {
    font-size: .75rem; // 12sp
    line-height: 1.25rem; // 20sp
    font-weight: map.get($mdc-typography-font-weight-values, regular);
    letter-spacing: functions.mdc-typography-get-letter-spacing_(.4, .75);
    text-decoration: inherit;
    text-transform: inherit;
}

.tiny { // fine print, newsletter page privacy statement for example
    font-size: 10px;
}

.section-developers {
    body, p, table, li, dt {
        font-family: $futura-font-family;
        font-size: 	1.125rem; // 18px
        letter-spacing: 0.45px;
    }
    
    .body2 {
        font-family: $futura-font-family;
    }
    }


// $mdc-typography-styles: mdc-typography-set-styles_(
//   $mdc-typography-base,
//   (
//     h1: (

//     );
//     h2: (

//     );
//     h3: (

//     );
//     h4: (

//     );
//     h5: (

//     );
//     h6: (

//     );
//     subtitle1: (
//       font-size: 1rem; // 16sp
//       line-height: 1.75rem; // 28sp
//       font-weight: map-get($mdc-typography-font-weight-values, regular);
//       letter-spacing: mdc-typography-get-letter-spacing_(.15, 1);
//       text-decoration: inherit;
//       text-transform: inherit;
//     );
//     subtitle2: (
//       font-size: .875rem; // 14sp
//       line-height: 1.375rem; // 22sp
//       font-weight: map-get($mdc-typography-font-weight-values, medium);
//       letter-spacing: mdc-typography-get-letter-spacing_(.1, .875);
//       text-decoration: inherit;
//       text-transform: inherit;
//     );
    // body1: (

    // );
    // body2: (

    // );
//     caption: (
//     );
//     button: (
//     );
//     overline: (
//     );
//   )
// ) !default;